


<div class="card mt-5">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>MenuName</th>
                    <th>ActionName</th>
                    <th>ControllerName</th>
                    <th>AreaName</th>
                    <th>CssName</th>
                    <th>IconName</th>
                    <th>OrderNo</th>
                    <th>ParentMenuId</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td>X</td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>
                        Internet
                        Explorer 5.0
                    </td>
                    <td>Win 95+</td>
                    <td>5</td>
                    <td>C</td>
                    <td>Win 95+</td>
                    <td>5</td>
                    <td>C</td>
                </tr>
              
            </tbody>
            <tfoot>
                <tr>
                    <th>MenuName</th>
                    <th>ActionName</th>
                    <th>ControllerName</th>
                    <th>AreaName</th>
                    <th>CssName</th>
                    <th>IconName</th>
                    <th>OrderNo</th>
                    <th>ParentMenuId</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>






